body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .background {
    background-image: url('../images/background.jpg'); /* Adjust the path based on your directory structure and image file name */
    background-size: cover;
    background-position: center;
  }  
  
  .container {
    max-width: 400px;
    margin: 80px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 3em;
   
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #666;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
  }
  
  button {
    padding: 14px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .container h2,
.container label,
.container input,
.container button,
.container p {
  color: #333; /* Set text color to fully opaque */
}
  